.ownerDetailsWrap {
  width: 80%;
  margin: 2rem auto;

}

.ownerDetailsForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 90%;

  border-radius: 1rem;
  background-color: #00FF72;
  filter: drop-shadow(25px 25px 0px #00873C);

  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
}

.ownerDetailsForm label {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  font-style: italic;
}


.ownerDetailsForm input, textarea, select  {
  width: 80%;
  border-radius: 0.75rem;
  border: 1px solid #ccc;
  margin-top: 0.35rem;

  font-size: 1.2rem;
  padding: 1rem;
}

.ownerDetailsForm textarea {
  min-height: 110px;
}

.ownerChecks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.ownerChecks label {
  width: 30%;
}

.ownerDetailsActions {
  display: flex;
  justify-content: center;

  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  width: 95%;
}

.ownerDetailsActions button {
  padding: 0.5rem;
  border-radius: 0.75rem;
  border: none;
  cursor: pointer;

  font-weight: 800;
  font-size: 1.2rem;
  width: 15%;
  color: white;

}

.ownerDetailsActions button:nth-child(1) {
  background-color: #000DFF;
  filter: drop-shadow(8px 8px 0px #00089D);
}

.ownerDetailsActions button:nth-child(2) {
  background-color: #FF008C;
  filter: drop-shadow(8px 8px 0px #b30062);
}

.ownerDetailsActions button:nth-child(3) {
  background-color: #FFCA00;
  color: black;
}

.ownerDetailsActions .danger {
  background: crimson;
  color: white;
}

.ownerDetailsMsg {
  color: #0b5;
  font-weight: bold;
}

.ownerDetailsError {
  color: crimson;
  font-weight: bold;
}