

.venueCard {
    border: 1px solid black;
    border-radius: 1rem;

    box-shadow: (7px 6px 5px #000000);

    width: 10%;
    padding: 0.5rem;
    
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.venueCard ul {
    list-style: none;
    margin-left: -25%;
}

.venueRankings {
    display: flex;
    justify-content: start;
    gap: 5%;
    flex-wrap: wrap;
}

.venueName {
    font-weight: 600;
    font-size: 1.1rem;
    color: black;
}

.venueCost {
    color: #1F9D05;
    font-weight: bold;
}

.venueScore {
    color: #FFE100;
    flex-basis: 100%;
}