.ownerWrap {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ownerWrap h1 {
  margin-top: 2%;
  margin-bottom: 1%;
}

.ownerError {
  color: crimson;
  font-weight: bold;
}

.ownerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 80%;

  background-color: #00FF72;

  padding-top: 3rem;
  padding-bottom: 3rem;
  border-radius: 1rem;

  filter: drop-shadow(24px 24px 0px #00873C);
}

.ownerForm input {
  padding: 0.8rem;
  border-radius: 0.75rem;
  border: 1px solid #ccc;
  width: 90%;
  font-size: 1.2rem !important;
}

.ownerForm textarea {
  width: 92%;
  border: none;
  border-style: none;
  border-radius: 1rem;
}

.ownerForm select {
  padding: 1rem;
  width: 92%;
  border: none;
  border-style: none;
  border-radius: 1rem;
}

.ownerForm button {
  padding: 0.8rem;
  border-radius: 0.75rem;
  border: none;
  font-weight: bold;
  cursor: pointer;

  width: 80%;
  background-color: #000DFF;
  
  color: white;
  font-weight: 800;
  font-size: 1.5rem;
  
}

.ownerHr {
  margin-top: 5%;
  margin-left: 5%;
}

.ownerWrap h2 {
  margin-top: 1%;
  margin-bottom: 1%;
}

.ownerList {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  border: 1px solid black;
  width: 85%;
  border-radius: 1rem;
}

.ownerList p, strong {
  font-weight: bold;
  color: white !important;
}

.ownerList strong {
  font-size: 1.2rem;
}

.ownerCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000DFF;
  border-radius: 0.75rem;
  padding: 1rem;
}


.ownerAddr {
  margin: 0.25rem 0 0 0;
}

.ownerActions {
  display: flex;
  gap: 0.5rem;
}

.ownerActions button {
  padding: 0.6rem 0.9rem;
  border-radius: 0.75rem;
  border: none;
  cursor: pointer;
  
  background: #00FF72;
  font-weight: 900;
  font-style: italic;
  font-size: 0.9rem;
}
